body {

	font-family: Helvetica;
	background-color: lightblue;
}

a:visited {
	color: green;
}


#maintitle{
	font-family: Tahoma;
	border: 5px dotted white;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow: white 3px 3px;
}

#secondtitle {
	text-align: center;
	text-shadow: white 3px 3px;

}

h4.subtitle {
	text-shadow: white 3px 3px;
}


#intro {
	padding: 20px;
	background-image: url("images/boardgames.png")
}

#intro {
	color: white;
	text-shadow: black 3px 3px;
}

#email {
	position: relative;
	bottom: 0;

}

#media {
	margin-left: auto;
	margin-right: auto;
}

#gameimage {
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
}

@media screen and (max-width: 550px) {
  body {
    background-color: lightgrey;
    font-size: 120%;
}
  #links ul{
    font-size: 120%;
}